#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    border-radius: 10px;

}
/* logo and image */
#logo{
    margin: 11px 7px;
    
}
#logo img{
    /* margin: 34px 45px; */
    height: 76px;
    width: 89px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    color: black; 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#navbar .button{
    margin: 24px 530px;
    color: white;
    padding: 13px 4px;
    /* border: 2px solid grey; */
    border-radius: 10px;
    font-size: 3px;
    cursor: pointer;
}

/* Content Section */
#content{
    border: 2px solid red;
    background-color: grey;
    opacity: 0.7;
    border-radius: 10px;
    margin: 13px 23px;
}

#pics{
    margin: 34px;
    display: flex;
    margin-top: 55px;
}
#pics .box{
    border: 2px solid red;
    /* padding: 34px; */
    border-radius: 10px;
    margin: 3px 6px;
    background-color: burlywood;
}
#pics .box img{
    /* height: 100px;   */
    /* margin : auto; */
    /* display: block; */
    height: 100%;
    width : 100%;
    /* border: 2px solid green; */  
}

.third{
    /* height: 50vh; */
    width: 100%;
    background-image: url("sectionc.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 100px;
}
.third h2{
    color:#29d9d5;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-shadow: 0px 0px 3px cadetblue;
}
.third h1{
    font-size: 70px;
    text-shadow: 2px 2px 3px black;
}
.third p{
    text-align: center;
    font-size: 23px;
    padding: 10px;
    opacity: 0.7;
}
